# --- database ---
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=db_user
DATABASE_PASSWORD=db_password
DATABASE_NAME=db_name

# --- logs ---
# консольный вывод - true, json - false
DEV_LOGS=true
LOG_LEVEL=INFO
# логи, которые хотите заглушить по тем или иным причинам
# перечислить имена через запятую, без кавычек и скобок
MUTE_LOGGERS=uvicorn.access,sqlalchemy.engine.Engine

# --- redis ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# --- idempotency ---
IDEMPOTENCY_LOCK_TTL=60
IDEMPOTENCY_RESULT_TTL=172800