# --- database ---
DATABASE_HOST=payment-service-db
DATABASE_PORT=5432
DATABASE_USER=payment_user
DATABASE_PASSWORD=payment_password
DATABASE_NAME=payment_db
RUN_MIGRATIONS=true

# --- logs ---
# консольный вывод - true, json - false
DEV_LOGS=true
LOG_LEVEL=INFO
# логи, которые хотите заглушить по тем или иным причинам
# перечислить имена через запятую, без кавычек и скобок
MUTE_LOGGERS=uvicorn.access,sqlalchemy.engine.Engine

# --- redis ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# --- idempotency ---
IDEMPOTENCY_LOCK_TTL=60
IDEMPOTENCY_RESULT_TTL=172800

# --- integrations ---
CIRCUIT_BREAKER_MAX_ATTEMPTS=3
CIRCUIT_BREAKER_RECOVERY_TIMEOUT=10.0
PAYMENT_PROVIDER_URL=http://payment-provider-mock:8000
PAYMENT_PROVIDER_TIMEOUT=5
PAYMENT_PROVIDER_MAX_RETRIES=3
PAYMENT_PROVIDER_MAX_RPS=50

# --- kafka ---
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_COMMANDS_TOPIC=payments.commands
KAFKA_EVENTS_TOPIC=payments.events
KAFKA_CONSUMER_GROUP=payment-service-commands

# --- outbox ---
# после скольких неудачных попыток публикации событие помечается FAILED
OUTBOX_MAX_PUBLISH_ATTEMPTS=5
