# --- payment-service-db ---
PAYMENT_DB_USER=payment_user
PAYMENT_DB_PASSWORD=payment_password
PAYMENT_DB_NAME=payment_db
PAYMENT_DB_PORT=5432

# --- analytics-service-db ---
ANALYTICS_DB_USER=analytics_user
ANALYTICS_DB_PASSWORD=analytics_password
ANALYTICS_DB_NAME=analytics_db
ANALYTICS_DB_PORT=5433
# --- redis ---
REDIS_PORT=6379
