# --- database ---
DATABASE_HOST=analytics-service-db
DATABASE_PORT=5432
DATABASE_USER=analytics_user
DATABASE_PASSWORD=analytics_password
DATABASE_NAME=analytics_db
RUN_MIGRATIONS=true

# --- logs ---
DEV_LOGS=true
LOG_LEVEL=INFO
MUTE_LOGGERS=uvicorn.access,sqlalchemy.engine.Engine

# --- redis ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1

# --- kafka ---
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_CONSUMER_GROUP=analytics-group
KAFKA_TOPIC=payments

# --- cache ---
CACHE_TTL=60
